<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="config-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                {:token()}
                <div class="form-group">
                    <div class="col-sm-4 col-lg-4 col-xl-4">
                        <label class="control-label mb-2">CHECKPOINT</label>
                        <div style="display: flex;flex-direction: row">
                            <input id="c-CHECKPOINT" data-rule="required" data-source="/api/index/models" class="form-control selectpage" name="checkpoint" type="text" value="0">
                            <button type="button" class="btn btn-default ml-2"><i class="fa fa-repeat"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xl-4">
                        <label class="control-label mb-2">VAE</label>
                        <div style="display: flex;flex-direction: row;justify-content: flex-start;">
                            <input id="c-VAE" data-rule="required" data-source="/api/index/models" class="form-control selectpage" name="vae" type="text" value="">
                            <button type="button" class="btn btn-default ml-2"><i class="fa fa-repeat"></i></button>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xl-4">
                        <label class="control-label mb-2">CLIP跳过层 Clip Skip</label>
                        <div style="display: flex;flex-direction: row;justify-content: flex-start;">
                            <input type="text" class="form-control slider" data-slider-min="0" data-slider-max="21"
                                   data-slider-step="1" data-slider-value="2" data-slider-orientation="horizontal"
                                   data-slider-selection="before" data-slider-tooltip="show" data-slider-handle="square" name="clip_skip"/>
                        </div>
                    </div>
                </div>
            </form>
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#txt2img" aria-controls="home" role="tab" data-toggle="tab">文生图</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">图生图</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">后期处理</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">PNG图片信息</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">图库</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="txt2img">
                        <form id="txt2img-form" class="form-horizontal mt-2" role="form" data-toggle="validator"
                              method="POST" action="">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-10 col-lg-10 col-xl-10">
                                    <textarea id="c-prompt" class="form-control" rows="4" name="prompt"
                                              placeholder="正向提示词"></textarea>
                                        <textarea id="c-negative_prompt" class="form-control" rows="4"
                                                  name="negative_prompt"
                                                  placeholder="反向提示词"></textarea>
                                    </div>
                                    <div class="col-sm-2 col-lg-2 col-xl-2"
                                         style="display: flex;flex-direction: column;align-items: center">
                                        <button type="submit" class="btn btn-primary"
                                                style="padding: 30px 50px;border-radius: 10px;width: 100%;">生成图片
                                        </button>
                                        <div class="form-group mt-2">
                                            <button type="button" class="btn btn-default ml-1"><i
                                                    class="fa fa-repeat"></i>
                                            </button>
                                            <button type="button" class="btn btn-default ml-1"><i
                                                    class="fa fa-repeat"></i>
                                            </button>
                                            <button type="button" class="btn btn-default ml-1"><i
                                                    class="fa fa-repeat">打开预览</i></button>
                                            <button type="button" class="btn btn-default ml-1"><i
                                                    class="fa fa-repeat"></i>
                                            </button>
                                            <button type="button" class="btn btn-default ml-1"><i
                                                    class="fa fa-repeat"></i>
                                            </button>
                                        </div>
                                        <div class="form-group mt-1">
                                            <div style="display: flex;flex-direction: row;justify-content: flex-start;">
                                                <input id="c-yushe" data-source="/api/index/models"
                                                       class="form-control selectpage" name="yushe" type="text" value="">
                                                <button type="button" class="btn btn-default ml-2"><i
                                                        class="fa fa-repeat"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">..1.</div>
                    <div role="tabpanel" class="tab-pane" id="messages">.2..</div>
                    <div role="tabpanel" class="tab-pane" id="settings">.3..</div>
                </div>

            </div>
            <p class="queue"></p>
            <div class="res">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                         style="width: 0%;">
                        <span class="progress-text">40%</span>
                    </div>
                </div>
                <img class="img-responsive" id="myImage"  src="">
            </div>
        </div>
    </div>
</div>
